version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    deploy:
          resources:
            limits:
              memory: 2g
              cpus: '1.0'
    volumes:
      - ../..:/workspaces:cached
      
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db
    # network_mode: host

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: menew_db
      POSTGRES_SCHEMA: menew_db

    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward PostgreSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    ports:
      - "8080:80" # Mapea el puerto 8080 del host al puerto 80 del contenedor
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com # Cambia este correo si es necesario
      PGADMIN_DEFAULT_PASSWORD: admin # Cambia esta contraseña si es necesario
    depends_on:
      - db
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.json:ro # Monta el archivo de configuración del servidor

volumes:
  postgres-data:
  pgadmin-data: